@import "tailwindcss";
body {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui;
}

.input-dark {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(31, 41, 55, 0.6);
  border: 1px solid #374151;
  color: #F3F4F6;
}

.input-dark::placeholder {
  color: #6B7280;
}

.input-dark:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}
    