@import "tailwindcss";
body {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui;
}

/* Dark scrollbar for dropdowns */
::-webkit-scrollbar {
  width: 0px;
}




.input-dark {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgba(31, 41, 55, 0.6);
  border: 1px solid #374151;
  color: #F3F4F6;
}

.input-dark::placeholder {
  color: #6B7280;
}

.input-dark:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4);
}
    

/* Dark theme autofill fix – matches input-dark */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #e5e7eb; /* text-gray-200 */
  caret-color: #e5e7eb;

  /* EXACT bg-gray-800 */
  -webkit-box-shadow: 0 0 0px 1000px rgb(31 41 55) inset;

  border: 1px solid rgb(55 65 81); /* border-gray-700 */
  transition: background-color 9999s ease-in-out 0s;
}
